[package]
name = "lago_expression"
version = "0.2.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
magnus = "0.7"
expression-core = { path = "../../../expression-core" }
