name: Publish NPM package

on:
  release:
    types: [released]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./expression-js
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: https://registry.npmjs.org
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Install dependencies
        run: npm i
      - name: Build
        run: npm run build --if-present
      - name: Package
        run: wasm-pack pack
      - name: Publish
        run: wasm-pack publish
