name: Ruby

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./expression-ruby
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby 3.4
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.7"
      - name: install dependencies
        run: bundle install
      - name: build
        run: bundle exec rake compile
      - name: Run tests
        run: bundle exec rake spec
